@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: rgba($color: #1e1e1e, $alpha: 1.0);
    color: rgba($color: #e1e1e1, $alpha: 1.0);
}